<div class="container col-md-12"> 
        <div>
            <button (click)="addMesa()" class="btn btn-info">Agregar Mesa</button>
          </div> 
      <h2>Mesas</h2>  
      <div class="table-responsive table-container">  
        <table class="table table-dark table-hover table-striped">  
          <thead class="thead-light">  
            <tr> 
              <th>_id</th> 
              <th>idOrden</th>
              <th>Nombre</th>  
              <th>Numero</th> 
              <th>Action</th> 
            </tr>  
          </thead>  
          <tbody>  
            <tr *ngFor="let mesa of mesas"> 
                <td>{{mesa._id}}</td>
              <td>{{mesa.idOrden}}</td>
              <td>{{mesa.nombre}}</td>  
              <td>{{mesa.numero}}</td>
               
               
              <td>  
                <button (click)="deleteMesa(mesa)" class="btn btn-info"> Eliminar</button>  
                <button (click)="updateMesa(mesa)" style="margin-left: 20px;" class="btn btn-info"> Editar</button>  
              </td>  
            </tr>  
          </tbody>  
        </table>  
      </div> 
       
    </div> 