<div class="col-md-3">
    <h2 class="text-center">Agregar Usuario</h2>    
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>id:</label>
        <input type="text" formControlName="_id" placeholder="Id" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.id.errors }">
        <div *ngIf="submitted && f.id.errors">
          <div *ngIf="f.id.errors.required">El id es requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Id personal:</label>
        <input type="text" formControlName="idPersonal" placeholder="idPersonal" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idPersonal.errors }">
        <div *ngIf="submitted && f.idPersonal.errors">
          <div *ngIf="f.idPersonal.errors.required">Id personal es requrido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Nombre:</label>
        <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
        <div *ngIf="submitted && f.nombre.errors">
          <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Nombre de Usuario:</label>
        <input type="text" formControlName="usuario" placeholder="usuario" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.usuario.errors }">
        <div *ngIf="submitted && f.usuario.errors">
          <div *ngIf="f.usuario.errors.required">El usuario es requerido</div>
        </div>
      </div>

      <div class="form-group">
          <label>Contrasena:</label>
          <input type="text" formControlName="contrasena" placeholder="********" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.contrasena.errors }">
          <div *ngIf="submitted && f.contrasena.errors">
            <div *ngIf="f.contrasena.errors.required">La contrasena es requerida</div>
          </div>
      </div>
  
      <div class="form-group">
          <label>Telefono:</label>
          <input type="text" formControlName="telefono" placeholder="telefono" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telefono.errors }">
          <div *ngIf="submitted && f.telefono.errors">
            <div *ngIf="f.telefono.errors.required">El telefono es requerida</div>
          </div>
      </div>

      <button type="submit"  class="btn btn-info">Guardar</button>
    </form>
  </div>