<div class="container">
  <!--En esta parte se agrega al usuario-->
  <br>
  <h2 class="text-center">Lista de Comidas</h2>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  Agregar Comida
</button>
<br><br>
<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Agregar Comida</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
          <div class="container">  
              <form class="form-horizontal">
                <div class="form-group">
                  <label for="name" class="control-label col-sm-2">
                    Nombre
                  </label>
                  <input required type="text" class="form-control" id="name" 
                    [(ngModel)] = "usuario.name" name="name"
                    placeholder="Ingrese el nombre">
                </div>
                
                <div class="form-group">
                    <label for="disponibilidad" class="control-label col-sm-2">
                      Disponibilidad
                    </label>
                    <select class="form-control" id="disponibilidad">
                      <option>Disponible</option>
                      <option>No Disponible</option>
                    </select>
                  </div>
                  <div class="form-group">
                      <label for="telefono" class="control-label col-sm-2">
                        Tipo
                      </label>
                      <input required type="text" class="form-control" id="telefono" 
                      [(ngModel)] = "usuario.tipo" name="tipo"
                        placeholder="Ingrese el tipo">
                    </div>
                    <div class="form-group">
                        <label for="descripcion" class="control-label col-sm-8">
                          Descripcion
                        </label>
                        <input required type="text" class="form-control" id="fecha" 
                        [(ngModel)] = "usuario.descripcion" name="descripcion"
                          placeholder="descripcion">
                      </div>
                  <div class="form-group">
                      <label for="imagen" class="control-label col-sm-2">
                        Imagen
                      </label>
                      <div class="form-group">
                          <input type="file" class="form-control-file border" name="imagen" id="imagen" [(ngModel)]="usuario.imagen">
                      </div>
                      
                  </div>
                  <div class="form-group">
                      <label for="ingredientes" class="control-label col-sm-2">
                        Ingredientes
                      </label>
                      <br>
                      <div class="form-check-inline">
                          <label class="form-check-label" for="tomate">
                            <input type="checkbox" class="form-check-input" id="tomate" name="tomate" value="tomate" [(ngModel)]="usuario.ingrediente">Tomate
                          </label>
                        </div>
                        <div class="form-check-inline">
                          <label class="form-check-label" for="cebolla">
                            <input type="checkbox" class="form-check-input" id="cebolla" name="cebolla" value="cebolla" [(ngModel)]="ingredientes.ingrediente">Cebolla
                          </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="queso">
                                <input type="checkbox" class="form-check-input" id="queso" name="queso" value="something">Queso
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="zanahoria">
                                <input type="checkbox" class="form-check-input" id="zanahoria" name="zanahoria" value="something">Zanahoria
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label" for="aguacate">
                                <input type="checkbox" class="form-check-input" id="aguacate" name="aguacate" value="something">Aguacate
                            </label>
                        </div>
                        
                    </div>
                
              </form>
            </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
            <button type="submit" (click)="onSubmit()" data-dismiss="modal" class="btn btn-success" >Save</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<!--En esta parte se muestra la comida-->

  <div style="overflow-x:auto;">
      <table class="table table-striped">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Disponibilidad</th>
              <th>Tipo</th>
              <th>Descripcion</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>john@example.com</td>
              <td>John</td>
              
              
              <td><button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal2">Editar</button></td>
              <td><button class="btn btn-danger">Eliminar</button></td>
            </tr>
            
          </tbody>
        </table>
  </div>

  <div class="modal" id="myModal2">
      <div class="modal-dialog">
        <div class="modal-content">
    
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Modificar Comida</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
    
          <!-- Modal body -->
          <div class="modal-body">
              <div class="container">  
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="name" class="control-label col-sm-2">
                        Nombre
                      </label>
                      <input required type="text" class="form-control" id="name" 
                        [(ngModel)] = "usuario.name" name="name"
                        placeholder="Ingrese el nombre">
                    </div>
                    
                    <div class="form-group">
                        <label for="disponibilidad" class="control-label col-sm-2">
                          Disponibilidad
                        </label>
                        <select class="form-control" id="disponibilidad">
                          <option>Disponible</option>
                          <option>No Disponible</option>
                        </select>
                      </div>
                      <div class="form-group">
                          <label for="telefono" class="control-label col-sm-2">
                            Tipo
                          </label>
                          <input required type="text" class="form-control" id="telefono" 
                          [(ngModel)] = "usuario.tipo" name="tipo"
                            placeholder="Ingrese el tipo">
                        </div>
                        <div class="form-group">
                            <label for="descripcion" class="control-label col-sm-8">
                              Descripcion
                            </label>
                            <input required type="text" class="form-control" id="fecha" 
                            [(ngModel)] = "usuario.descripcion" name="descripcion"
                              placeholder="descripcion">
                          </div>
                      <div class="form-group">
                          <label for="imagen" class="control-label col-sm-2">
                            Imagen
                          </label>
                          <div class="form-group">
                              <input type="file" class="form-control-file border" name="imagen" id="imagen" [(ngModel)]="usuario.imagen">
                          </div>
                          
                      </div>
                      <div class="form-group">
                          <label for="ingredientes" class="control-label col-sm-2">
                            Ingredientes
                          </label>
                          <br>
                          <div class="form-check-inline">
                              <label class="form-check-label" for="tomate">
                                <input type="checkbox" class="form-check-input" id="tomate" name="tomate" value="tomate" [(ngModel)]="usuario.ingrediente">Tomate
                              </label>
                            </div>
                            <div class="form-check-inline">
                              <label class="form-check-label" for="cebolla">
                                <input type="checkbox" class="form-check-input" id="cebolla" name="cebolla" value="cebolla" [(ngModel)]="ingredientes.ingrediente">Cebolla
                              </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="queso">
                                    <input type="checkbox" class="form-check-input" id="queso" name="queso" value="something">Queso
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="zanahoria">
                                    <input type="checkbox" class="form-check-input" id="zanahoria" name="zanahoria" value="something">Zanahoria
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label" for="aguacate">
                                    <input type="checkbox" class="form-check-input" id="aguacate" name="aguacate" value="something">Aguacate
                                </label>
                            </div>
                            
                        </div>
                    
                  </form>
                </div>
          </div>
    
          <!-- Modal footer -->
          <div class="modal-footer">
                <button type="submit" (click)="onSubmit()" data-dismiss="modal" class="btn btn-success" >Save</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
    
        </div>
      </div>
    </div>

</div>
