<!--The content below is only a placeholder and can be replaced.-->

<div class="topnav" id="myTopnav">
  <a class='nav-link' routerLink='/home' routerLinkActive>Home</a>
  <a class='nav-link' routerLink='/usuarios' routerLinkActive>Usuarios</a>
  <a class='nav-link' routerLink='/proveedores' routerLinkActive>Proveedores</a>
  <a class='nav-link' routerLink='/bebidas' routerLinkActive>Bebidas</a>
  <a class='nav-link' routerLink='/comidas' routerLinkActive>Comidas</a>
  <a class='nav-link' routerLink='/ingredientes' routerLinkActive>Ingredientes</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
  </a>
</div>


<router-outlet></router-outlet>
