<!--The content below is only a placeholder and can be replaced.-->

<div class="topnav" id="myTopnav">
  <a class='nav-link' routerLink='/home' routerLinkActive>Home</a>
  <a class='nav-link' routerLink='/list-usuario' routerLinkActive>Usuarios</a>
  <a class='nav-link' routerLink='/list-proveedor' routerLinkActive>Proveedores</a>
  <a class='nav-link' routerLink='/list-bebida' routerLinkActive>Bebidas</a>
  <a class='nav-link' routerLink='/list-producto' routerLinkActive>Productos</a>
  <a class='nav-link' routerLink='/list-ingrediente' routerLinkActive>Ingredientes</a>
  <a class='nav-link' routerLink='/list-producto_elaborado' routerLinkActive>Producto Elaborado</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
  </a>
</div>


<router-outlet></router-outlet>
