<div class="container col-md-12"> 
    <br>
  <h2 class="text-center" style="color: aliceblue">Ingredientes</h2>  
  <div>
      <button (click)="addIngrediente()" class="btn btn-success">Agregar Ingrediente</button>
    </div> 
    <br>
  <div class="table-responsive table-container">  
    <table class="table table-dark table-hover table-striped">  
      <thead class="thead-light">  
        <tr>  
          <th>Nombre</th>
          <th>Inventario</th> 
          <th>idProveedor</th>  
          <th>Action</th> 
        </tr>  
      </thead>  
      <tbody>  
        <tr *ngFor="let ingrediente of ingredientes"> 
           
          <td>{{ingrediente.nombre}}</td>
          <td>{{ingrediente.inventario}}</td> 
          <td>{{ingrediente.idProveedor}}</td>  
           
          <td>  
            <button (click)="deleteIngrediente(ingrediente)" class="btn btn-danger"> Eliminar</button>  
            <button (click)="updateIngrediente(ingrediente)" style="margin-left: 20px;" class="btn btn-info"> Editar</button>  
          </td>  
        </tr>  
      </tbody>  
    </table>  
  </div> 
   
</div> 