<br><br>
<div class="card" style="width: 500px; display: block; margin-left: auto; margin-right:auto">
    <div class="card-body">
        <h2 class="text-center">Editar Bebida</h2>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label>Nombre:</label>
                <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
                <div *ngIf="submitted && f.nombre.errors">
                  <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
                </div>
              </div>
      
            <div>
              <label>Id Proveedor:</label>
              <div></div>
              <select class="form-control" formControlName="idProveedor" [(ngModel)]="proveedores.nombre">
                <option *ngFor="let proveedor of proveedores" 
                [value]="proveedor.nombre" >{{proveedor._id}}-
                {{proveedor.nombre}}
                </option>
              </select>
          </div>
          
              <div class="form-group">
                      <label>Tipo:</label><div></div>
                      <select class="form-control" formControlName="tipo">
                        <option value="Alcoholica">Alcoholica</option>
                        <option value="Gaseosa">Gaseosa</option>
                        <option value="Naturales">Naturales</option>
                        <option value="Agua">Agua</option>
                      </select>
                    </div>
          
              <div class="form-group">
                <label>Inventario:</label>
                <input type="text" formControlName="inventario" placeholder="Inventario" class="form-control" type ="number" [ngClass]="{ 'is-invalid': submitted && f.inventario.errors }">
                <div *ngIf="submitted && f.inventario.errors">
                  <div *ngIf="f.inventario.errors.required">El número de inventario es requerido</div>
                </div>
              </div>
        
              <div class="form-group">
                  <label>Descripcion:</label>
                  <input type="text" formControlName="descripcion" placeholder="Descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
                  <div *ngIf="submitted && f.descripcion.errors">
                    <div *ngIf="f.descripcion.errors.required">La descripción es requerida</div>
                  </div>
              </div>
      
          <button type="submit"  class="btn btn-info">Actualizar</button>
        </form>

    </div>
  </div>
  