<div class="col-md-3">
    <h2 class="text-center">Editar Bebida</h2>
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" formControlName="nombre" placeholder="Nombre" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
            <div *ngIf="submitted && f.nombre.errors">
              <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
            </div>
          </div>
    <!--  
          <div class="form-group">
            <label>idProveedor:</label>
            <input type="text" formControlName="idProveedor" placeholder="Id del proveedor" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.idProveedor.errors }">
            <div *ngIf="submitted && f.idProveedor.errors">
              <div *ngIf="f.idProveedor.errors.required">El id del proveedor es requerido</div>
            </div>
          </div>
        -->
        <div>
          <label>Id Proveedor:</label>
          <div></div>
          <select formControlName="idProveedor" [(ngModel)]="proveedores.nombre">
            <option *ngFor="let proveedor of proveedores" 
            [value]="proveedor.nombre" >{{proveedor._id}}-
            {{proveedor.nombre}}
            </option>
          </select>
      </div>
      
          <div class="form-group">
            <label>Tipo:</label>
            <input type="text" formControlName="tipo" placeholder="Tipo" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tipo.errors }">
            <div *ngIf="submitted && f.tipo.errors">
              <div *ngIf="f.tipo.errors.required">Tipo es requrido</div>
            </div>
          </div>
      
          <div class="form-group">
            <label>Inventario:</label>
            <input type="text" formControlName="inventario" placeholder="Inventario" class="form-control" type ="number" [ngClass]="{ 'is-invalid': submitted && f.inventario.errors }">
            <div *ngIf="submitted && f.inventario.errors">
              <div *ngIf="f.inventario.errors.required">El número de inventario es requerido</div>
            </div>
          </div>
    
          <div class="form-group">
              <label>Descripcion:</label>
              <input type="text" formControlName="descripcion" placeholder="Descripcion" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.descripcion.errors }">
              <div *ngIf="submitted && f.descripcion.errors">
                <div *ngIf="f.descripcion.errors.required">La descripción es requerida</div>
              </div>
          </div>
  
      <button type="submit"  class="btn btn-info">Actualizar</button>
    </form>
  </div>
  