<br><br>
<div class="card" style="width: 500px; display: block;margin-left: auto; margin-right: auto;">
  <div class="card-body">
    <h2 class="text-center">Agregar Producto Elaborado Detallado</h2>
    <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label>Id Producto Elaborado:</label>
        <div></div>
        <select class="form-control" formControlName="idProducto_Elaborado"
          [(ngModel)]="productos_elaborados.idProducto_Elaborado"
          [ngClass]="{ 'is-invalid': submitted && f.idProducto_Elaborado.errors }">
          <option *ngFor="let producto_elaborado of productos_elaborados">
            {{producto_elaborado._id}}
          </option>
        </select>
        <div *ngIf="submitted && f.idProducto_Elaborado.errors">
          <div *ngIf="f.idProducto_Elaborado.errors.required">El id Producto Elaborado es requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Id Bebida:</label>
        <div></div>
        <select class="form-control" formControlName="idBebida" [(ngModel)]="bebidas.idBebida"
          [ngClass]="{ 'is-invalid': submitted && f.idBebida.errors }">
          <option *ngFor="let bebida of bebidas">
            {{bebida._id}}
          </option>
        </select>
        <div *ngIf="submitted && f.idBebida.errors">
          <div *ngIf="f.idBebida.errors.required">El id Bebida es requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Id Insumo:</label>
        <div></div>
        <select class="form-control" formControlName="idInsumo" [(ngModel)]="ingredientes.idIngrediente"
          [ngClass]="{ 'is-invalid': submitted && f.idInsumo.errors }">
          <option *ngFor="let ingrediente of ingredientes">
            {{ingrediente._id}}
          </option>
        </select>
        <div *ngIf="submitted && f.idInsumo.errors">
          <div *ngIf="f.idInsumo.errors.required">El id Insumo es requerido</div>
        </div>
      </div>

      <div class="form-group">
        <label>Cantidad:</label>
        <input type="number" formControlName="cantidad" placeholder="Introduzca la cantidad" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.cantidad.errors }">
        <div *ngIf="submitted && f.cantidad.errors">
          <div *ngIf="f.cantidad.errors.required">La cantidad es requerida</div>
        </div>
      </div>

      <button type="submit" class="btn btn-info">Guardar</button>
    </form>
  </div>
</div>