<div class="col-md-3">
  <h2 class="text-center">Agregar Ingrediente</h2>
  <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Nombre:</label>
      <input type="text" formControlName="nombre" placeholder="Introduzca el nombre" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.nombre.errors }">
      <div *ngIf="submitted && f.nombre.errors">
        <div *ngIf="f.nombre.errors.required">El nombre es requerido</div>
      </div>
    </div>

    <div class="form-group">
      <label>Inventario:</label>
      <input type="text" formControlName="inventario" placeholder="Introduzca el inventario" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.inventario.errors }">
      <div *ngIf="submitted && f.inventario.errors">
        <div *ngIf="f.inventario.errors.required">El número de inventario es requerido</div>
      </div>
    </div>

    <div>
      <label>Id Proveedor:</label>
      <div></div>
      
      <select formControlName="idProveedor" [(ngModel)]="proveedores.nombre">
        <option *ngFor="let proveedor of proveedores" 
        [value]="proveedor.nombre" >
        {{proveedor.nombre}}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-info">Guardar</button>
  </form>
</div>